body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color:whitesmoke;
    padding: 10px 20px;
    height:70px;
}

.brand-name {
    flex: 2;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.brand-name .fur {
    color:#d68c45;
}

.brand-name .niture {
    color:#7f5539 ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.main-contant{
    width:100%;
    height:90vh;
    background-image: url("image/backgroundimage.jpg");
    background-size: cover;
    background-position: 100%;
    color: white;
}
.main-contant #contant{
    margin-top: 90px;
    margin-left: 70px;
}
#contant h2 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.changecontent::after{
    content: ' ';
    color:#976d51;
    animation: changetext 8s infinite linear;
    font-weight:bold;
}
@keyframes changetext{
    0%{content:"Sofa."}
    20%{content:"Chairs and Seating."}
    50%{content:"Beds."}
    60%{content:"Bookcases."}
    80%{content:"Wardrobes."}
    100%{content:"desks."}
}
.nav-item a{
    font-weight: bold;
}
.nav-item a:hover{
    color:#7f5539;
    text-shadow: 2px 2px 5px #986e51;
}
#btn1 button{
    background-color:#7f5539;
}
#btn1 button:hover{
    background-color: rgb(31, 101, 31);
    border: #986e51;
}
#main2{
    text-align: center;
    background-color: #fefae0;
}
#main2 .image img{
    width:100%;
    object-fit: cover;
    transition: transform 0.2s;
    height:350px;
    cursor:move;
    background-position: center;
    padding:10px;
 }
 #main2 .image img:hover{
    -ms-trasform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform: scale(1.1);
 }
 #main2 h3{
    color:#7f5539;
    padding-top: 10px;
}
#main2 h4{
    padding:20px;
}

.row{
    padding: 10px;
}
.btn{
    width:150px;
    height:32px;
    background-color:#7f5539;
    border: 1px solid black;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
border-color: burlywood;
background-color: #7f5539;
color: #fefae0;
text-shadow: 2px 2px 5px #967863;
}

#main3 h3{
    padding-top: 10px;
    color:#7f5539;
}

#main3{
    text-align: center;
    background-color: #faedcd;
    justify-content: center;
    padding: 10px;
}
#main3 .image img{
    width:100%;
    object-fit: cover;
    transition: transform 0.2s;
    height:300px;
    cursor:move;
    background-position: center;
 }
 #main3 .image img:hover{
    -ms-trasform:scale(1.10);
    -webkit-transform:scale(1.10);
    transform: scale(1.10);
 }
 #main3 h4{
    padding:20px;
}
.row{
    padding: 10px;
}


#main4{
    text-align: center;
    background-color: #fefae0;
}
#main4 .image img{
    width:100%;
    object-fit: cover;
    transition: transform 0.2s;
    height:300px;
    cursor:move;
    background-position: center;
 }
 #main4 .image img:hover{
    -ms-trasform:scale(1.10);
    -webkit-transform:scale(1.10);
    transform: scale(1.10);
 }
#main4 h3{
    color:#7f5539;
    padding-top: 20px;
}
#main4 h6{
    padding:20px;
}
#main5 .image img{
    width:100%;
    object-fit: cover;
    transition: transform 0.2s;
    height:300px;
    cursor:move;

 }
 #main5 .image img:hover{
    -ms-trasform:scale(1.10);
    -webkit-transform:scale(1.10);
    transform: scale(1.10);
 }


 #main5 {
    text-align:center;
    background-color: #faedcd;
 }
 #main5 h3{
    color:#7f5539;
}
#main5 h6{
    padding:20px;
}
#main6 h3{
    color:#7f5539;
}
#main6{  
    text-align: center;
    background-color: #fefae0;
}
#main6 .image img {
    width:100%;
    height:100%;
    background-position: center;
}

footer{
    width:100%;
    background-color: black;
    padding-top: 20px;
    color:white;
    text-align: center;
}
footer h1{
    padding-top: 15px;
}
.icons a{
    color:#835e45;
    font-size: 30px;
    cursor: pointer;
    padding:10px;
    width: 100px;
    height: 100px;
    transition: filter 0.3s, transform 0.2s;
}

.icons a:hover {
    filter: brightness(2.0);
    transform: scale(1.1);
}
